
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <img src="@Url.Content("~/Content/mytemplate/")images/awqafz.jpg" class="" />
    </div>
</div>

